[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
pandas-datareader = "*"
tushare = "*"
matplotlib = "*"
beautifulsoup4 = "*"
sklearn = "*"
tensorflow = "*"
keras = "*"
mpl-finance = "*"
mplfinance = "*"

[requires]
python_version = "3.8"
